In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

資料load 並drop na

In [2]:
train_df = pd.read_csv("Train.csv").dropna()

In [3]:
train_df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [4]:
for i in range(0,len(train_df)):
    if train_df['HasCrCard'][i] == 1:
        train_df['HasCrCard'][i] = 'Yes'
    else:
        train_df['HasCrCard'][i] = 'No'
    
    if train_df['IsActiveMember'][i] == 1:
        train_df['IsActiveMember'][i] = 'Yes'
    else:
        train_df['IsActiveMember'][i] = 'No'

C:\Users\OWNER\AppData\Local\Temp\ipykernel_3528\2580053799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['HasCrCard'][i] = 'Yes'
C:\Users\OWNER\AppData\Local\Temp\ipykernel_3528\2580053799.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['IsActiveMember'][i] = 'Yes'

In [5]:
train_df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,Yes,Yes,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,No,Yes,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,Yes,No,113931.57,1

test data 切一半至val,test

In [6]:
#valid_df = test_df.iloc[:int(len(test_df)/2),:]
#test_df = test_df.iloc[int(len(test_df)/2):,:]

重新renaming，避免ambiguous naming

In [7]:
# # Entities naming

# df["match_id"] = df.index.values.astype(str)
train_df["CustomerId"] =  "Customer" + train_df.CustomerId.astype(str).str.title().str.replace(" ", "")
train_df["Gender"] =  "Gender" + train_df.Gender.str.title().str.replace(" ", "")
train_df["Age"] = "Age" + + train_df.Age.astype(str).str.title().str.replace(" ", "")
train_df["Geography"] = "Geography" + train_df.Geography.str.title().str.replace(" ", "")
train_df["Tenure"] = "Tenure" + train_df.Tenure.astype(str).str.title().str.replace(" ", "")
train_df["NumOfProducts"] = "NumOfProducts" + train_df.NumOfProducts.astype(str).str.title().str.replace(" ", "")
train_df["HasCrCard"] = "HasCrCard" + train_df.HasCrCard.astype(str).str.title().str.replace(" ", "")
train_df["IsActiveMember"] = "IsActiveMember" + train_df.IsActiveMember.astype(str).str.title().str.replace(" ", "")

#train_df["Surname"] =  "Surname" + train_df.Surname.astype(str).str.title().str.replace(" ", "")
#train_df["CreditScore"] =  "CreditScore" + train_df.CreditScore.astype(str).str.title().str.replace(" ", "")
#train_df["Balance"] =  "Balance" + train_df.Balance.astype(str).str.title().str.replace(" ", "")
#train_df["EstimatedSalary"] =  "EstimatedSalary" + train_df.EstimatedSalary.astype(str).str.title().str.replace(" ", "")

In [8]:
train_triples = []
for _, row in train_df.iterrows():
   
    # Match characteristics
    Gender = (row["CustomerId"], "Gender", row["Gender"])
    Age = (row["CustomerId"], "Age", row["Age"])
    Geography = (row["CustomerId"], "Geography", row["Geography"])
    Tenure = (row["CustomerId"], "Tenure", row["Tenure"])
    NumOfProducts = (row["CustomerId"], "NumOfProducts", row["NumOfProducts"])
    HasCrCard = (row["CustomerId"], "HasCrCard", row["HasCrCard"])
    IsActiveMember = (row["CustomerId"], "IsActiveMember", row["IsActiveMember"])

    #Surname = (row["CustomerId"], "Surname", row["Surname"])
    #CreditScore = (row["CustomerId"], "CreditScore", row["CreditScore"])
    #Balance = (row["CustomerId"], "Balance", row["Balance"])
    #EstimatedSalary = (row["CustomerId"], "EstimatedSalary", row["EstimatedSalary"])
    		
    train_triples.extend((Gender, Age, Geography, 
                Tenure, NumOfProducts, HasCrCard, IsActiveMember))

In [9]:
train_triples_df = pd.DataFrame(train_triples, columns=["subject", "predicate", "object"])
#valid_triples_df = pd.DataFrame(valid_triples, columns=["subject", "predicate", "object"])
#test_triples_df = pd.DataFrame(test_triples, columns=["subject", "predicate", "object"])
# triples_df[(triples_df.subject=="Match3129") | (triples_df.object=="Match3129")]

In [10]:
with open("./train.tsv", 'w+') as f:
    f.writelines("{}\t{}\t{}\n".format('subject', 'predicate', 'object'))
    for idx,_ in train_triples_df.iterrows():
        f.writelines("{}\t{}\t{}\n".format(train_triples[idx][0], train_triples[idx][1], train_triples[idx][2]))
        
#with open("./valid.tsv", 'w+') as f:
#    for idx,_ in valid_triples_df.iterrows():
#        f.writelines("{}\t{}\t{}\n".format(valid_triples[idx][0], valid_triples[idx][1], valid_triples[idx][2]))

#with open("./test.tsv", 'w+') as f:
#    for idx,_ in test_triples_df.iterrows():
#        f.writelines("{}\t{}\t{}\n".format(test_triples[idx][0], test_triples[idx][1], test_triples[idx][2]))