## INK: explanatory notebook

Within this notebook, we give a simple example of how the INK library can be used to extract the neighbourhood of certain subjects of interest.<br>
We also show the mining capabilities for both task specific and task agnostic cases.

The example dataset can be found in the /datasets folder.<br>
We have used the common known animal dataset, describing several animals with their properties.

In [73]:
from ink.base.connectors import RDFLibConnector
from ink.base.structure import InkExtractor
from ink.miner.rulemining import RuleSetMiner

To start, three different packages are loaded.
* A connector: which is used to load the original dataset.
Here we have used an RDFLib connector, but other connectors are available.
* The INK extractor, which will transform the neighbourhood of certain nodes into a binary representation.
* The Rule Set Miner, which is our rule mining module.

In [74]:
import pandas as pd
import numpy as np

customer = pd.read_csv('train.tsv', sep='\t')
cus_seg = pd.read_csv('train.csv')

In [75]:
customer.head(8)

            subject       predicate             object
0  Customer15634602          Gender       GenderFemale
1  Customer15634602             Age              Age42
2  Customer15634602       Geography    GeographyFrance
3  Customer15634602          Tenure            Tenure2
4  Customer15634602   NumOfProducts     NumOfProducts1
5  Customer15634602       HasCrCard       HasCrCardYes
6  Customer15634602  IsActiveMember  IsActiveMemberYes
7  Customer15647311          Gender       GenderFemale

In [76]:
cus_seg.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [77]:
cus_sub = customer['subject'].unique() #row #10000
cus_sub

array(['Customer15634602', 'Customer15647311', 'Customer15619304', ...,
       'Customer15584532', 'Customer15682355', 'Customer15628319'],
      dtype=object)

In [78]:
cus_pre = customer['predicate'].unique() #7
cus_pre

array(['Gender', 'Age', 'Geography', 'Tenure', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember'], dtype=object)

In [79]:
cus_obj = customer['object'].unique() #94
cus_obj

array(['GenderFemale', 'Age42', 'GeographyFrance', 'Tenure2',
       'NumOfProducts1', 'HasCrCardYes', 'IsActiveMemberYes', 'Age41',
       'GeographySpain', 'Tenure1', 'HasCrCardNo', 'Tenure8',
       'NumOfProducts3', 'IsActiveMemberNo', 'Age39', 'NumOfProducts2',
       'Age43', 'GenderMale', 'Age44', 'Age50', 'Tenure7', 'Age29',
       'GeographyGermany', 'Tenure4', 'NumOfProducts4', 'Age27', 'Age31',
       'Tenure6', 'Age24', 'Tenure3', 'Age34', 'Tenure10', 'Age25',
       'Tenure5', 'Age35', 'Age45', 'Age58', 'Tenure9', 'Age32', 'Age38',
       'Age46', 'Age36', 'Tenure0', 'Age33', 'Age40', 'Age51', 'Age61',
       'Age49', 'Age37', 'Age19', 'Age66', 'Age56', 'Age26', 'Age21',
       'Age55', 'Age75', 'Age22', 'Age30', 'Age28', 'Age65', 'Age48',
       'Age52', 'Age57', 'Age73', 'Age47', 'Age54', 'Age72', 'Age20',
       'Age67', 'Age79', 'Age62', 'Age53', 'Age80', 'Age59', 'Age68',
       'Age23', 'Age60', 'Age70', 'Age63', 'Age64', 'Age18', 'Age82',
       'Age69', 'Age74', 'Age71', 'Age76', 'Age77', 'Age88', 'Age85',
       'Age84', 'Age78', 'Age81', 'Age92', 'Age83'], dtype=object)

###### rule miner (不知道可不可以用(((o(*ﾟ▽ﾟ*)o))))

In [80]:
miner = RuleSetMiner(chains=100, max_len_rule_set=3, forest_size=10)

###### task specific rule mining

In [81]:
df = pd.crosstab(customer['subject'], customer['object']) #add .ne(0) to transform 0,1 to True False

In [82]:
df.head(2)

object,Age18,Age19,Age20,Age21,Age22,Age23,Age24,Age25,Age26,Age27,...,Tenure1,Tenure10,Tenure2,Tenure3,Tenure4,Tenure5,Tenure6,Tenure7,Tenure8,Tenure9
subject,,,,,,,,,,,,,,,,,,,,,
Customer15565701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Customer15565706,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [83]:
#df.filter(regex='^Age',axis=1).head()

In [84]:
df.columns = ['rdf#Gender§' + str(col) if col in df.filter(regex='^Gender',axis=1) else col for col in df.columns]
df.columns = ['rdf#Age§' + str(col) if col in df.filter(regex='^Age',axis=1) else col for col in df.columns]
df.columns = ['rdf#Geography§' + str(col) if col in df.filter(regex='^Geography',axis=1) else col for col in df.columns]
df.columns = ['rdf#Tenure§' + str(col) if col in df.filter(regex='^Tenure',axis=1) else col for col in df.columns]
df.columns = ['rdf#NumOfProducts§' + str(col) if col in df.filter(regex='^NumOfProducts',axis=1) else col for col in df.columns]
df.columns = ['rdf#HasCrCard§' + str(col) if col in df.filter(regex='^HasCrCard',axis=1) else col for col in df.columns]
df.columns = ['rdf#IsActiveMember§' + str(col) if col in df.filter(regex='^IsActiveMember',axis=1) else col for col in df.columns]

In [85]:
df.head(10)

,rdf#Age§Age18,rdf#Age§Age19,rdf#Age§Age20,rdf#Age§Age21,rdf#Age§Age22,rdf#Age§Age23,rdf#Age§Age24,rdf#Age§Age25,rdf#Age§Age26,rdf#Age§Age27,...,rdf#Tenure§Tenure1,rdf#Tenure§Tenure10,rdf#Tenure§Tenure2,rdf#Tenure§Tenure3,rdf#Tenure§Tenure4,rdf#Tenure§Tenure5,rdf#Tenure§Tenure6,rdf#Tenure§Tenure7,rdf#Tenure§Tenure8,rdf#Tenure§Tenure9
subject,,,,,,,,,,,,,,,,,,,,,
Customer15565701,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Customer15565706,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Customer15565714,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Customer15565779,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Customer15565796,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Customer15565806,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Customer15565878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
Customer15565879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Customer15565891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
Customer15565996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, Customer15565701 to Customer15815690
Data columns (total 94 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   rdf#Age§Age18                         10000 non-null  int64
 1   rdf#Age§Age19                         10000 non-null  int64
 2   rdf#Age§Age20                         10000 non-null  int64
 3   rdf#Age§Age21                         10000 non-null  int64
 4   rdf#Age§Age22                         10000 non-null  int64
 5   rdf#Age§Age23                         10000 non-null  int64
 6   rdf#Age§Age24                         10000 non-null  int64
 7   rdf#Age§Age25                         10000 non-null  int64
 8   rdf#Age§Age26                         10000 non-null  int64
 9   rdf#Age§Age27                         10000 non-null  int64
 10  rdf#Age§Age28                         10000 non-null  int64
 11  rdf#Age§Age29                         10000 non-null  int64
 12  rdf#Age§Age30                         10000 non-null  int64
 13  rdf#Age§Age31                         10000 non-null  int64
 14  rdf#Age§Age32                         10000 non-null  int64
 15  rdf#Age§Age33                         10000 non-null  int64
 16  rdf#Age§Age34                         10000 non-null  int64
 17  rdf#Age§Age35                         10000 non-null  int64
 18  rdf#Age§Age36                         10000 non-null  int64
 19  rdf#Age§Age37                         10000 non-null  int64
 20  rdf#Age§Age38                         10000 non-null  int64
 21  rdf#Age§Age39                         10000 non-null  int64
 22  rdf#Age§Age40                         10000 non-null  int64
 23  rdf#Age§Age41                         10000 non-null  int64
 24  rdf#Age§Age42                         10000 non-null  int64
 25  rdf#Age§Age43                         10000 non-null  int64
 26  rdf#Age§Age44                         10000 non-null  int64
 27  rdf#Age§Age45                         10000 non-null  int64
 28  rdf#Age§Age46                         10000 non-null  int64
 29  rdf#Age§Age47                         10000 non-null  int64
 30  rdf#Age§Age48                         10000 non-null  int64
 31  rdf#Age§Age49                         10000 non-null  int64
 32  rdf#Age§Age50                         10000 non-null  int64
 33  rdf#Age§Age51                         10000 non-null  int64
 34  rdf#Age§Age52                         10000 non-null  int64
 35  rdf#Age§Age53                         10000 non-null  int64
 36  rdf#Age§Age54                         10000 non-null  int64
 37  rdf#Age§Age55                         10000 non-null  int64
 38  rdf#Age§Age56                         10000 non-null  int64
 39  rdf#Age§Age57                         10000 non-null  int64
 40  rdf#Age§Age58                         10000 non-null  int64
 41  rdf#Age§Age59                         10000 non-null  int64
 42  rdf#Age§Age60                         10000 non-null  int64
 43  rdf#Age§Age61                         10000 non-null  int64
 44  rdf#Age§Age62                         10000 non-null  int64
 45  rdf#Age§Age63                         10000 non-null  int64
 46  rdf#Age§Age64                         10000 non-null  int64
 47  rdf#Age§Age65                         10000 non-null  int64
 48  rdf#Age§Age66                         10000 non-null  int64
 49  rdf#Age§Age67                         10000 non-null  int64
 50  rdf#Age§Age68                         10000 non-null  int64
 51  rdf#Age§Age69                         10000 non-null  int64
 52  rdf#Age§Age70                         10000 non-null  int64
 53  rdf#Age§Age71                         10000 non-null  int64
 54  rdf#Age§Age72                         10000 non-null  int64
 55  rdf#Age§Age73                         10000 non-null  int64
 56  rdf#Age§Age74                         10000 non-null  int64
 57  rdf#Age§Age75                         10000 non-null  int64
 58  rdf#Age§Age76                         10000 non-null  int64
 59  rdf#Age§Age77                         10000 non-null  int64
 60  rdf#Age§Age78                         10000 non-null  int64
 61  rdf#Age§Age79                         10000 non-null  int64
 62  rdf#Age§Age80                         10000 non-null  int64
 63  rdf#Age§Age81                         10000 non-null  int64
 64  rdf#Age§Age82                         10000 non-null  int64
 65  rdf#Age§Age83                         10000 non-null  int64
 66  rdf#Age§Age84                         10000 non-null  int64
 67  rdf#Age§Age85                         10000 non-null  int64
 68  rdf#Age§Age88                         10000 non-null  int64
 69  rdf#Age§Age92                         10000 non-null  int64
 70  rdf#Gender§GenderFemale               10000 non-null  int64
 71  rdf#Gender§GenderMale                 10000 non-null  int64
 72  rdf#Geography§GeographyFrance         10000 non-null  int64
 73  rdf#Geography§GeographyGermany        10000 non-null  int64
 74  rdf#Geography§GeographySpain          10000 non-null  int64
 75  rdf#HasCrCard§HasCrCardNo             10000 non-null  int64
 76  rdf#HasCrCard§HasCrCardYes            10000 non-null  int64
 77  rdf#IsActiveMember§IsActiveMemberNo   10000 non-null  int64
 78  rdf#IsActiveMember§IsActiveMemberYes  10000 non-null  int64
 79  rdf#NumOfProducts§NumOfProducts1      10000 non-null  int64
 80  rdf#NumOfProducts§NumOfProducts2      10000 non-null  int64
 81  rdf#NumOfProducts§NumOfProducts3      10000 non-null  int64
 82  rdf#NumOfProducts§NumOfProducts4      10000 non-null  int64
 83  rdf#Tenure§Tenure0                    10000 non-null  int64
 84  rdf#Tenure§Tenure1                    10000 non-null  int64
 85  rdf#Tenure§Tenure10                   10000 non-null  int64
 86  rdf#Tenure§Tenure2                    10000 non-null  int64
 87  rdf#Tenure§Tenure3                    10000 non-null  int64
 88  rdf#Tenure§Tenure4                    10000 non-null  int64
 89  rdf#Tenure§Tenure5                    10000 non-null  int64
 90  rdf#Tenure§Tenure6                    10000 non-null  int64
 91  rdf#Tenure§Tenure7                    10000 non-null  int64
 92  rdf#Tenure§Tenure8                    10000 non-null  int64
 93  rdf#Tenure§Tenure9                    10000 non-null  int64
dtypes: int64(94)
memory usage: 7.2+ MB

In [87]:
from scipy.sparse import csr_matrix  #convert df to csr
df_csr = csr_matrix(df.values)
df_csr

<10000x94 sparse matrix of type '<class 'numpy.int64'>'
	with 70000 stored elements in Compressed Sparse Row format>

In [88]:
col = list(df.columns)
#col

In [89]:
cus_seg_sort = cus_seg.sort_values(by=['CustomerId'])
#cus_seg_sort

In [90]:
label = cus_seg_sort['Exited']
y_train = np.array(label)  #y_train #label #10000
y_train

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [94]:
X_train = (df_csr,list(cus_sub),col)
#X_train

In [97]:
#X_train: data
#y_train: label
acc, rules = miner.fit(X_train, y_train)

c:\Users\OWNER\Desktop\INK\INK\ink\miner\rulemining.py:223: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  self.rules = np.asarray(self.rules)[supp_select]

In [98]:
print(acc)
miner.print_rules(rules)

0.7944
['rdf#NumOfProducts§NumOfProducts3']
['rdf#NumOfProducts§NumOfProducts1', 'rdf#Geography§GeographyGermany']